

.fourthSection{
    width: 100%;
    background-color: #f7f7f7;
    /* background-color: aquamarine; */
}


.fourthMain{
    width: 26rem;
    margin: 1rem auto;
    text-align: left;
    display: flex;
    flex-direction: column;
     padding: 24px 16px;
    /* border: 10px solid red; */
}


.fourthh2{
    font-size: 30px;
    font-weight: 500;
}

.fourthPara{
    line-height: 1.3em; 
    
}

.fourthList{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
   
    
}

.fourthList li{
   
    /* margin-left: -2.5rem; */
    /* font-size: 14px; */
    list-style: none;
    

    /* list-style-image: url('../../assets/star.png'); */
     
}

.fourthList li::before{
    content: '';
  display: inline-block;
  height: 14px;
  width: 14px;
   background-size: 14px;
  background-image: url("../../assets/star.png");
  background-repeat: no-repeat;
  margin-right: 5px;

}



.firstUl{
    display: flex;
    flex-direction: column;
    margin-left: -2.5rem;
    margin-right: 2rem;
}