.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid red; */
}

.headerMain {
  width: 26rem;
  margin: 0 2rem;
  /* border: 1px solid salmon; */

  text-align: start;
  /* padding: 10px; */
  /* margin: 0 auto; */
}

.header img {
  width: 50px;
}
